body {
  background-color: #ecedf3;
  padding-top: 40px;
  color: #2C3345;
  font-family: 'Roboto', sans-serif;
}

.main-logo {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.main-logo__photo {
  width: 215px;
}

.app-container {
  max-width: 752px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  gap: 40px;
  box-shadow: 4px 0 4px 0 rgba(34, 60, 80, 0.07);
}

.header-title {
  padding: 0 40px 52px 40px;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  margin: 0 -2rem;
}

.easy-tap-support {
  text-align: center;
}

.full-name {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.full-name__item {
  flex: 1;
  min-width: 150px !important;
}

.upload-btn {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 7px;
  border: 1px solid #e8e8e8;
  padding: 10px;
}

.webcam-btns {
  padding-left: 10px;
}

.error-message {
  color: red !important;
}

.masked-input {
  width: 100%;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap-5 {
  column-gap: 5px;
}
